.login-button {
    -fx-background-color:  #88DDEF;
    -fx-background-radius:  30px;
}

.login-button:hover {
    -fx-background-color:  #1ea2bd;
    
}

.exit-button {
    -fx-background-color:  #e15959;
    -fx-background-radius:  30px;
}

.exit-button:hover {
    -fx-background-color:  #fa0606e3;
}

.logout-button {
    -fx-background-color:  #079073;
    -fx-background-radius:  20px;
}

.logout-button:hover {
    -fx-background-color:  #31d1ae;
}

.management-button {
    -fx-background-color: #FFFFFF;
    -fx-border-color: rgb(0, 0, 0);   
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-font-size: 20px;
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
}

.management-button:hover {
    -fx-background-color: #58f3e1;
}

.shadow {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 5, 0, 0, 0);  
    -fx-background-color: #FFFFFF;
}

.white-bg {
    -fx-background-color: #FFFFFF;
}

.radius {
    -fx-background-radius:  20px;
}

.table-view {
    -fx-background-color: transparent;
    -fx-padding: 0;
    -fx-border-color: linear-gradient(to bottom right, #396580,   #000c6e);
    -fx-border-radius: 5px;
    -fx-border-width: 1.5px;

}

.table-view .column-header-background {
    -fx-background-color: linear-gradient(to bottom right, #396580,   #000c6e);
    -fx-background-insets: 0 0 0 0;
}

.table-view .column-header, .fillter {
    -fx-background-color: transparent;
    -fx-size: 45px;
}

.table-view .column-header .label {
    -fx-text-fill: #fff;
}

.seller-button {
    -fx-background-color: linear-gradient(to bottom right, #396580,   #000c6e);
}

.seller-button:hover {
    cursor: pointer;  
    -fx-background-color: linear-gradient(to bottom right, #4a7694, #1e1c8e);
}

.transparent {
    -fx-background-color: transparent;
}

.scroll-pane {
    -fx-background-color: white;  /* Đổi màu nền của ScrollPane */
}

.scroll-pane .viewport {
    -fx-background-color: #ffffff;  /* Màu nền bên trong */
}

.combo-box {
    -fx-background-color: white; /* Gradient màu nền */
    -fx-text-fill: #000c6e; /* Màu chữ là trắng */
    -fx-font-family: Arial, sans-serif; /* Kiểu chữ Arial */
    /* -fx-font-size: 14px; Kích thước chữ */
    -fx-border-color: #000c6e; /* Màu viền */
    -fx-border-width: 1px; /* Độ dày viền */
    -fx-border-radius: 20px;
    -fx-background-radius:20px;
}

.combo-box .arrow-button {
    -fx-background-color: transparent; /* Tùy chỉnh mũi tên thả xuống nếu cần */

}

.combo-box .arrow-button .arrow {
    -fx-background-color:#000c6e;
}

.combo-box .list-cell {
    -fx-background-color: transparent; /* Lý do để phần background của item trong list không bị che phủ */
    -fx-text-fill: #000c6e(0, 0, 0); /* Màu chữ cho các item trong danh sách */
}

.combo-box .list-cell:hover {
    -fx-background-color: rgba(0, 12, 110, 0.7); /* Màu nền khi hover */
}

.combo-box .combo-box-popup .list-cell:selected {
    -fx-background-color: #000c6e; /* Màu nền khi chọn mục trong danh sách */
    -fx-text-fill: white; /* Màu chữ trắng sau khi chọn */
}

.font-size14px {
    -fx-font-size: 14px;
}

* {
	-fx-primary-color: linear-gradient(to bottom right, #396580,   #000c6e);
	-fx-secondary-color: #000c6e;

	-fx-focus-color: -fx-secondary-color;
}

.tab-header-area .tab-header-background {
 	-fx-background-color: -fx-primary-color;
    
}
.tab-pane .tab:selected {
    -fx-text-fill: white;
	-fx-background-color: -fx-secondary-color;
	-fx-background-insets: 0 0 0 0;
	-fx-background-radius: 0 0 0 0;
}

.tab-pane .tab:hover {
	-fx-background-color: -fx-secondary-color;
	-fx-background-insets: 0 0 0 0;
	-fx-background-radius: 0 0 0 0;
}


.tab .tab-label { 
 	-fx-alignment: CENTER;
	-fx-text-fill: white;
	-fx-padding: 0 10 0 10;
    -fx-font-weight: bold;
}

.tab:selected .tab-label {
    -fx-underline: true
}

.tab-pane:top *.tab-header-area {
	-fx-padding: 0 0 0 30;

}
.tab-pane {
	-fx-background-color: transparent;
	-fx-tab-min-width: 100px;
	-fx-tab-min-height: 30px;
	-fx-tab-max-height: 30px;
}
.tab-pane .tab {
	-fx-background-color: transparent;
    
}
.tab-pane:focused .tab-header-area .headers-region .tab:selected .focus-indicator {
 	-fx-border-width: 0;
	-fx-border-insets: 0 0 0 0;
	-fx-border-radius: 0;
}



.date-picker .arrow-button {
	-fx-background-color: -fx-primary-color;
	-fx-background-radius: 0;
}
.date-picker .arrow-button:hover {
	-fx-background-color: -fx-secondary-color;
}
.date-picker .arrow-button .arrow {
	-fx-background-color: white;
}


